.Main {
  @apply text-white;
}

.Title {
  @apply font-bold px-44 overflow-hidden;
  @apply px-4 text-6xl mb-20 leading-tight;
  @apply sm:px-32 sm:text-7xl sm:mb-halfScreenH;
  @apply lg:px-44 lg:text-8xl;
  span {
    @apply relative inline;
  }
}

.InlineBlock {
  @apply inline-block !important;

  @apply pr-2;
  @apply sm:pr-4;
  @apply lg:pr-5;
}

.Yellow {
  @apply text-yellow relative;
}
.Purple {
  @apply text-purple;
}

.Paragraph {
  @apply text-lg text-gray-400;

  @apply px-4 text-sm mb-10;
  @apply sm:px-32 sm:text-base sm:mb-10;
  @apply lg:px-44 lg:text-2xl;

  strong {
    @apply text-yellow font-normal;
  }
}

.Right {
  @apply text-right;
}

.Header {
  @apply relative pt-24 mb-halfScreenH;
  @apply sm:pt-28 sm:mb-halfScreenH;
  @apply lg:pt-37 lg:max-w-[1300px] lg:h-screenH lg:mb-0;
  h1 {
    @apply pt-[7px] pb-[7px];
  }
  @screen 2xl {
    @apply max-w-[2000px] pt-44;
    h1 {
      @apply text-[8rem];
    }
  }
  /* @screen 3xl {
    @apply max-w-[2000px] pt-44;
    h1 {
      @apply text-[8rem];
    }
  } */
}

.ImageOverride {
  @apply relative w-full leading-[0];

  > div {
    position: unset !important;
    display: inline-block !important;
  }
}

/**
 *
 * HOME PAGE
 *
 */
.HomePhoneCover {
  @apply fixed flex flex-col justify-items-center items-center top-0 left-0 right-0 bottom-0 pt-13 z-20;
  @apply sm:hidden;
}

.HomePhoneCoverActive {
  @apply z-0;
  .HomePhoneCoverText {
    @apply opacity-0;
  }
}

.HomePhoneCoverText {
  @apply text-white animate-bounce opacity-100;
  @apply transition-opacity ease-in-out duration-500;
}

.HomeTextAnimate {
  @apply relative overflow-hidden w-full;
  @apply text-6xl h-19 leading-[4.5rem];
  @apply sm:text-8xl sm:h-32;
  @apply lg:text-9xl lg:h-37;
}
.HomeTextAnimateWrap {
  @apply absolute;
}

.HomeTextHover {
  @apply z-10 relative;

  .HomeTextHoverHidden {
    @apply absolute opacity-0 left-0;
  }
  span {
    @apply absolute transition-all duration-500 ease-in-out;
    @apply top-0;
  }
  .HomeTextHoverHidden {
    @apply top-17;
    @apply sm:top-0;
  }

  &:hover {
    span {
      @apply sm:pl-20;
    }
    .HomeTextHoverHidden {
      @apply opacity-100;
    }
    .HomeTextHoverShown {
      @apply opacity-0;
    }
  }
}

.HomeTextHoverForce {
  .HomeTextHoverHidden {
    @apply opacity-100 top-0;
  }
  .HomeTextHoverShown {
    @apply opacity-0 top-17;
  }
}

.HomeContainer {
  @apply w-full h-screen top-0 left-0 flex justify-center items-center flex-col;
}
.HomeBackgroundImage {
  @apply fixed right-0 bottom-0;
  @apply w-3/4;
  @apply sm:w-2/3;
  @apply lg:w-1/2;
  @apply xl:w-1/3;
  /* z-index: -1; */
}

/**
 *
 * ABOUT PAGE
 *
 */
.AboutLogoContainer {
  @apply grid items-start justify-items-center;
  @apply px-4 mb-halfScreenH;
  @apply sm:px-32 sm:grid-cols-2 sm:gap-8;
  @apply lg:px-44;
  div svg {
    @apply w-full max-h-96;
    @apply sm:max-h-full;
  }
}

.AboutLogoContainerInner {
  @apply grid items-start justify-items-center;
  @apply grid-cols-2 gap-2;

  > div {
    @apply sm:mb-20;
  }
}
.AboutIconList {
  @apply grid justify-items-center items-center place-items-center;
  @apply grid-cols-4 gap-4 px-4 mb-halfScreenH;
  @apply sm:px-32 sm:gap-8 sm:grid-cols-5;
  @apply lg:px-44 lg:gap-8 lg:grid-cols-8;
  li {
  }
}
/**
 *
 * WORK PAGE
 *
 */

.WorkCV {
  @apply relative  inline-block mx-auto;
  @apply w-32 -left-5 mb-20;
  @apply sm:w-60 sm:p-4 sm:-left-9;
  @apply lg:w-80 lg:p-4 lg:-left-9;
}

/**
 *
 * Override
 *
 */

.NoMargin {
  @apply pb-0 mb-0;
}

.SmallMargin {
  @apply pb-20 mb-0;
  @apply sm:pb-28;
  /* @apply lg:pb-20; */
}

.LastMargin {
  @apply pb-20 mb-0;
  @apply sm:pb-44 !important;
}
