.Main {
  @apply text-white;
  padding-left: 180px;
  padding-top: 150px;

  /* background-color: #000;
  background-image: url("https://shotkit.com/wp-content/uploads/2021/02/black_and-white_portraits_christopher_campbell.jpg");
  background-position: 300px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; */
}

.Title {
  @apply text-8xl font-bold;
  padding-right: 180px;
  margin-bottom: 50vh;
}

.TitleNoMargin {
  @apply mb-0;
}

.Yellow {
  @apply text-yellow;
}
.Purple {
  @apply text-purple;
}

.Paragraph {
  @apply text-lg text-gray-400;
  margin-bottom: 50vh;
  padding-right: 180px;

  /* margin-top: 300px; */
}

.Right {
  @apply text-right;
  padding-right: 50px;
  padding-left: 180px;
}
