.Title {
  @apply text-8xl font-bold;
  padding-right: 180px;
  margin-bottom: 50vh;
}

.Yellow {
  @apply text-yellow;
}
.Purple {
  @apply text-purple;
}

.Paragraph {
  @apply text-lg;
  margin-bottom: 50vh;
  padding-right: 180px;

  /* margin-top: 300px; */
}

.Right {
  @apply text-right;
  padding-right: 50px;
  padding-left: 180px;
}
