.TextAnimate {
  @apply text-9xl relative h-40 overflow-hidden w-full;
}
.TextAnimateWrap {
  @apply absolute;
}
.Container {
  @apply fixed w-full h-full top-0 left-0 flex justify-center items-center flex-col pl-48;
}
.BackgroundImage {
  height: 100%;
  position: fixed;
  right: 0;
  z-index: -1;
}
