.TextAnimate {
  @apply relative overflow-hidden w-full;
  @apply text-6xl h-16;
  @apply sm:text-8xl sm:h-32;
  @apply lg:text-9xl lg:h-36;
}
.TextAnimateWrap {
  @apply absolute;
}

.TextHover {
  @apply relative transition-all duration-500 ease-in-out;
  .TextHoverHidden {
    @apply absolute opacity-0 left-0;
  }
  &:hover {
    .TextHoverHidden {
      @apply opacity-100;
    }
    .TextHoverShown {
      @apply opacity-0;
    }
    @apply ml-20;
  }
}

.Container {
  @apply fixed w-full h-full top-0 left-0 flex justify-center items-center flex-col;
  @apply pl-10;
  @apply sm:pl-20;
  @apply lg:pl-48;
}
.BackgroundImage {
  width: 50%;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}
