.Logo {
  @apply fixed;
  width: 60px;
  top: 60px;
  left: 70px;
  margin-right: -10px;
}

.Line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.Home {
  @apply absolute top-0 text-xs w-full text-center h-full justify-center flex flex-col text-white;
}
