.Navigation {
  @apply fixed flex font-bold;
  padding-left: 180px;
  top: 75px;
  /* top: 65px; */
  right: 95px;
}

.NavUnderline {
  @apply absolute bg-white mx-auto w-full h-full left-0;
  z-index: -1;
  margin-top: -2px;
}

.Link {
  @apply mr-6 sm:mr-8 flex flex-col relative text-gray-700 text-xs hover:text-white px-2 pb-1;
  @apply transition-colors ease-in-out duration-500;
}

.IsActive {
  @apply text-black hover:text-black;
}
