.Navigation {
  @apply fixed flex font-bold flex-col;
  right: 78px;
  top: 130px;
}

.NavUnderline {
  @apply absolute bg-white mx-auto w-full h-full left-0;
  margin-top: -1px;
  z-index: -1;
}

.Link {
  @apply mb-6 sm:mb-8 flex flex-col relative text-gray-700 text-xs hover:text-white tracking-widest;
  @apply transition-colors ease-in-out duration-500;
  letter-spacing: 3px;
  text-orientation: upright;
  writing-mode: vertical-rl;
}

.IsActive {
  @apply text-black hover:text-black;
}
