.ProgressContainer {
  @apply fixed z-30;
  @apply right-2 top-6 w-10 h-10;
  @apply sm:right-9 sm:-mr-px sm:top-10 sm:w-13 sm:h-13;
  @apply lg:right-14 lg:top-15 lg:w-13 lg:h-13 sm:mr-0;
}

.ProgressBar {
  stroke: #fff;
  transform: translateX(5px) translateY(5px) scaleX(-1) rotate(90deg);
  transform-origin: 20px 20px;
}

.Arrow {
  @apply stroke-2;
  fill: none;
  stroke-linecap: round;
  /* transform: translate(15px 18px); */
  /* transform: translateX(15px) translateY(18px); */
}
