.Svg {
  @apply mx-auto;
  max-width: 10rem;
  @apply sm:max-w-sm;
  @apply lg:max-w-lg;
}

.Line {
  fill: none;
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 2;
  @screen sm {
    stroke-width: 0.5;
  }
}

.Welcome {
  @apply text-center mb-halfScreenH;
}
