.Line {
  fill: none;
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 2;
}

@media screen(sm) {
  .Line {
    stroke-width: 2;
  }
}

@media screen(lg) {
  .Line {
    stroke-width: 1.5;
  }
}

.Welcome {
  @apply -rotate-12;
  @apply absolute text-center;
  @apply w-80 -bottom-20 right-0;
  .Svg {
    @apply mx-auto;
    max-width: 14rem;
  }
}

@media (min-width: 445px) {
  .Welcome {
    @apply -bottom-20 right-6 block w-56;
    .Svg {
      max-width: 14rem;
    }
  }
}
@media (min-width: 640px) {
  .Welcome {
    @apply right-32;
    .Svg {
      max-width: 14rem;
    }
  }
}
@media (min-width: 940px) {
  .Welcome {
    @apply w-64;
    .Svg {
      max-width: 16rem;
    }
  }
}
@media (min-width: 1024px) {
  .Welcome {
    @apply w-80 right-44;
    .Svg {
      max-width: 20rem;
    }
  }
}
@media (min-width: 1265px) {
  .Welcome {
    @apply bottom-20;
  }
}

.Fullstack {
  @apply absolute;
  top: -7px;
  left: -5px;
  width: 220px;
}

@media screen(sm) {
  .Fullstack {
    width: 250px;
    top: -5px;
    left: -5px;
  }
}

@media screen(lg) {
  .Fullstack {
    width: 300px;
  }
}

.FullstackLine {
  fill: none;
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 2;
}

@media screen(sm) {
  .FullstackLine {
    stroke-width: 1;
  }
}
