/********************************************
	BREAKPOINT WIDTHS
********************************************/
/********************************************
	FONTS
********************************************/
/********************************************
	COLOURS
********************************************/
.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  @apply absolute opacity-100 top-5 bg-transparent text-4xl cursor-pointer;
  transition: all 0.25s ease-in;
  /* filter: alpha(opacity=40); */
  z-index: 2;
  border: 0;
  /* font-size: 32px; */
}
.carousel .control-arrow:focus,
.carousel .control-arrow:hover {
  @apply opacity-100;
  /* filter: alpha(opacity=100); */
}
.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  @apply inline-block mx-0 my-1;
  /* margin: 0 5px; */
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  content: "";
}
.carousel .control-disabled.control-arrow {
  @apply opacity-0 hidden;
  /* filter: alpha(opacity=0); */
  cursor: inherit;
}
.carousel .control-prev.control-arrow {
  @apply left-0;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #fff;
}
.carousel .control-prev.control-arrow:hover:before {
  /* border-right: 8px solid #000; */
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #fff;
}
.carousel .control-next.control-arrow:hover:before {
  /* border-left: 8px solid #000; */
}
.carousel .control-next.control-arrow {
  @apply right-0;
}
.carousel-root {
  /* outline: none; */
  @apply mb-halfScreenH outline-none;
  @apply sm:px-32;
  @apply lg:px-44;
}

.carousel {
  @apply relative w-full;
}
.carousel * {
  @apply box-border;
}
.carousel img {
  @apply inline-block w-full pointer-events-none;
}
.carousel .carousel {
  @apply relative;
}
.carousel .control-arrow {
  @apply outline-none border-0 bg-transparent top-1/2 text-lg -mt-3.5;
  @apply hidden;
  @apply sm:block;
  /* outline: 0; */
  /* border: 0; */
  /* background: none; */
  /* margin-top: -13px; */
}
.carousel .thumbs-wrapper {
  @apply m-5 overflow-hidden;
}
.carousel .thumbs {
  @apply relative list-none whitespace-nowrap;
  transition: all 0.15s ease-in;
  transform: translate3d(0, 0, 0);
  position: relative;
  /* list-style: none; */
}
.carousel .thumb {
  @apply inline-block mr-1.5 whitespace-nowrap overflow-hidden p-1;
  transition: border 0.15s ease-in;
  border: 3px solid #fff;
  /* padding: 2px; */
}
.carousel .thumb:focus {
  @apply outline-none;
  border: 3px solid #ccc;
  /* outline: none; */
}
.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 3px solid #333;
}
.carousel .thumb img {
  vertical-align: top;
}
.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
}
.carousel.carousel-slider .control-arrow {
  @apply top-0 bottom-0 text-white text-3xl mt-0 p-3 bg-black;
  &:hover {
    @apply bg-gray-900;
    &:before {
    }
  }
}
.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  -webkit-transition: height 0.15s ease-in;
  -moz-transition: height 0.15s ease-in;
  -ms-transition: height 0.15s ease-in;
  -o-transition: height 0.15s ease-in;
  transition: height 0.15s ease-in;
}
.carousel .slider-wrapper.axis-horizontal .slider {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.carousel .slider-wrapper.axis-horizontal .slider .slide {
  flex-direction: column;
  flex-flow: column;
  @screen sm {
    padding: 0 32px;
    /* @apply: px-3; */
  }
}
.carousel .slider-wrapper.axis-vertical {
  -ms-box-orient: horizontal;
  display: flex;
}
.carousel .slider-wrapper.axis-vertical .slider {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.carousel .slider {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  width: 100%;
}
.carousel .slider.animated {
  transition: all 0.35s ease-in-out;
}
.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
}
.carousel .slide img {
  width: 100%;
  vertical-align: top;
  border: 0;
}
.carousel .slide iframe {
  display: inline-block;
  width: calc(100% - 80px);
  margin: 0 40px 40px;
  border: 0;
}
.carousel .slide .legend {
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  opacity: 0.25;
  transition: opacity 0.35s ease-in-out;
}
.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}
@media (min-width: 960px) {
  .carousel .control-dots {
    bottom: 0;
  }
}
.carousel .control-dots .dot {
  transition: opacity 0.25s ease-in;
  opacity: 0.3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  background: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}
.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel .carousel-status {
  @apply absolute top-0 right-0 p-1 text-xs text-white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}
.carousel:hover .slide .legend {
  opacity: 1;
}
